# sources
/xenomai-2.6.*.tar.bz2

# fedpkg local build artifacts
/xenomai-2.6.?/
/xenomai-2.6.?.?/
/.build-2.6.*.log
/x86_64/
/xenomai-2.6.*.src.rpm

# emacs droppings
/*~
/.\#*
/\#*

# OSC
/.osc/
/xenomai_*.dsc
/xenomai_*.tar.bz2
